<template name="header">
	<header>
		{{#if detailPage}}<img src="/media/icons/back.png" alt="back" class="back" />{{/if}}
		<a href="/"><h1>VGV</h1></a>
		<a href="#" class="menuButton">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
	</header>
	{{> notifications}}
	<div class="overlay"></div>
	<nav class="mainMenu">
		<ul>
			<li class="user">
				<span class="avatarContainer" style="background-image:url('{{currentUser.profile.picture}}')"></span>
				<span class="userName">{{ currentUser.profile.name }}</span>
			</li>
			<li class="upload menuItem">
				<a href="/upload" class="menuItem">Upload een gitaar</a>
			</li>
			<li class="favorites menuItem">
				Mijn favorieten
			</li>
			<li class="uploads menuItem">
				Mijn uploads
			</li>
			<li class="settings menuItem"> 
				Mijn instellingen
			</li>
			<li class="logout menuItem">
				Uitloggen
			</li>
		</ul>
	</nav>
</template>